<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body style="background-color: rgb(146, 129, 126);">    
    <div class="container" style="background-color: tomato; border-radius: 20px;">
        <center>
            <hr>
            <h2>Cotizacion</h2><br>
            <img src="./img/auto.jpg" alt="" style="border-radius: 20px;">
            <br><br>
        
        <form action="/cotizacion" method="p">
            <label for="">Valor del Automovil:</label>
            <input type="number" id="valor" name="valor" required="true"><br>
            <label for="">Porcentaje de Page Inicial</label>
            <select name="pinicial" id="pinicial">
                <option value="10">10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select><br>

            <label for="">Plazos</label>
            <select name="plazo" id="plazo">
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">35 meses</option>
                <option value="48">48 meses</option>
                <option value="60">60 meses</option>
            </select><br>
            <button type="submit">Calcular</button>
            <button type="reset">Limpiar</button>
        </center>
            <%
            let pagoInicial =0;
            let totalfin =0;
            let pmensual =0;

            if(valor!=null){
                pagoInicial = valor * (pinicial/100);
                totalfin = valor - pagoInicial;
                pmensual = totalfin/plazo;
            
            
            %>
            <hr>
            <h3>Informacion de la cotizacion</h3>
            <hr><br>
            Valor del Automovil: <%=valor%> 
            Porcentaje de pago Inicial : <%=pinicial%> 
            Plazos : <%=plazo%> <br>

            Pago Inicial : <%=pagoInicial%> 
            Total a financiar : <%=totalfin%> 
            Pago Mensual : <%=pmensual%>

            <%}
            %>
            <br><br><hr>
        </form>

    </div>
    
</body>
</html>