<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Practica 01 EJS </title>
</head>
<body>
    <center>
        <h1><%=titulo%></h1>
        <h1><%=nombre%></h1>
        <h1><%=grupo%></h1>
        <img src="./img/logo_oficial.png" alt="">
        <br>
        <br>
    </center>

     
    <div class="container">

   
    <table class="table table-dark border-dark table-bordered table-hover">
        <tr>
            <thead class="border-dark table-bordered">
            <th>Matricula:</th>
            <th>Nombre:</th>
            <th>Sexo:</th>
            <th>Materias:</th>
             </thead>
        </tr>
    <%
    for(item of listado){
        %>
        <tr>
            <tbody class="border-dark">
                <td class="table-danger border-dark"><%=item.matricula%></td>
                <td class="table-warning border-dark"><%=item.nombre%></td>
                <td class="table-info border-dark"><%=item.sexo%></td>
                <td class="table-info border-dark"><%=item.materias%></td> 
            </tbody>     
        </tr>
<%
    }
    %>
    </table>
    
</div>

</body>
</html>